/.coverage
/.mypy_cache/
/.nox/
/.python-version
/.pytype/
/.vscode/
/extensions/
/pip-wheel-metadata/
/dist/
/project-plan/
/docs/_build/
/.pytest_cache/
/absorb/*.egg-info/
/absorb/__pycache__/
/absorb/absorb.egg-info/
__pycache__/
backup.py
issues.md